body {
    background: #0f1114;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.card {
    background: #1a1f27;
    padding: 35px 45px;
    border-radius: 16px;
    text-align: center;
    width: 400px;
    box-shadow: 0px 0px 18px rgba(0,0,0,0.6);
}

.logo {
    width: 90px;
    margin-bottom: 15px;
}

.size {
    color: #8aa0b2;
    font-size: 14px;
    margin-bottom: 22px;
}

.btn-download {
    background: #0066ff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    transition: 0.2s;
}

.btn-download:hover {
    background: #0050cc;
}

.safe {
    font-size: 12px;
    color: #57e389;
    margin-top: 20px;
}
